
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;0,600;1,100&display=swap');

.titulo {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: midnightblue;

}


.subtitulo{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: black;
}


.normal {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: black;
}

.encabezado {
    background-color: silver;
    border-radius: 30px;
    margin: 20px;
    text-align:center;
    padding: 10px;
}

.image{
    padding: 10px;
    border: 1px solid rgb(185, 215, 245);
    width: 100%;
    border-radius: 20px;
    margin: auto;
}