
<app-header title="Registro de Cursos"></app-header>

<ion-content>

  <div style=" text-align: end; margin: 10px;">
    <ion-button (click)="nuevo()" class="normal" color="primary">Nuevo</ion-button>
  </div>

  <div *ngIf="enableNewCurso">

    <ion-item>
      <ion-buttons slot="end">
        <ion-button (click)="enableNewCurso = false;">
          <ion-icon slot="icon-only" color="danger" name="close"></ion-icon>
        </ion-button>
        <ion-button (click)="guardarClase()">
          <ion-icon slot="icon-only" color="primary" name="save-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <h3 class="subtitulo encabezado">Ingrese datos de la Clase</h3>
    <ion-item>
      <ion-label class="normal" position="floating">
        Nombre:
      </ion-label>
      <ion-input [(ngModel)]="newCurso.nombre" class="normal" type="text" inputmode="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="normal" position="floating">
        Seccion:
      </ion-label>
      <ion-input [(ngModel)]="newCurso.seccion" class="normal" type="text" inputmode="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="normal" position="floating">
        Sala:
      </ion-label>
      <ion-input [(ngModel)]="newCurso.sala" class="normal" type="text" inputmode="text">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="normal">
        Foto:
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <label for="file-upload">
            <ion-icon slot="icon-only" name="images" color="primary"></ion-icon>
          </label>
          <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file" accept="image/*">
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item>
      <img class="image" [src]="newCurso.foto">
    </ion-item>

  </div>

  <ion-card>

    <h3 class="subtitulado encabezado">Lista de Cursos</h3>

    <ion-item *ngFor="let curso of cursos">
      <ion-label class="normal">{{curso.nombre}}</ion-label>
      <ion-buttons slot="end">
        <ion-button (click)=" newCurso = curso; enableNewCurso = true; ">
          <ion-icon slot="icon-only" color="primary" name="create"></ion-icon>
        </ion-button>
        <ion-button (click)="deleteCurso(curso)">
          <ion-icon slot="icon-only" color="danger" name="trash-bin"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-card>


</ion-content>